<!DOCTYPE html>
<html>

<head>
  <title>Bourse</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <h1>Cours enregistrés</h1>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Ajouter un cours</button>
  </div>

  <!-- Le popup -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- En-tête du popup -->
        <div class="modal-header">
          <h4 class="modal-title">Ajouter un cours</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Corps du popup -->
        <div class="modal-body">
          <ul>
            {% for c in cours %}
            <li><button type="button" class="btn btn-link" onclick="window.location.href='/add/{{ c }}'">{{ c }}</button></li>
            {% endfor %}
          </ul>
        </div>

        <!-- Pied de page du popup -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
        </div>

      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>